# FPtoFP 硬件功能验证分析报告

- **总测试用例数**: 16
- **通过数**: 12
- **失败数**: 4
- **通过率**: 75.0%

## 验证结果详情

| 用例名称 | 状态 | maximum error | Timeline |
| :--- | :--- | :--- | :--- |
| fptofp_case0001 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0001/analysis/timeline_ascii.txt) |
| fptofp_case0002 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0002/analysis/timeline_ascii.txt) |
| fptofp_case0003 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0003/analysis/timeline_ascii.txt) |
| fptofp_case0004 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0004/analysis/timeline_ascii.txt) |
| fptofp_case0005 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0005/analysis/timeline_ascii.txt) |
| fptofp_case0006 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0006/analysis/timeline_ascii.txt) |
| fptofp_case0007 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0007/analysis/timeline_ascii.txt) |
| fptofp_case0008 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0008/analysis/timeline_ascii.txt) |
| fptofp_case0009 | FAIL | Max Err: 6.25e-02 | [View](..fptofp_case0009/analysis/timeline_ascii.txt) |
| fptofp_case0010 | FAIL | Max Err: 6.25e-02 | [View](..fptofp_case0010/analysis/timeline_ascii.txt) |
| fptofp_case0011 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0011/analysis/timeline_ascii.txt) |
| fptofp_case0012 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0012/analysis/timeline_ascii.txt) |
| fptofp_case0013 | FAIL | Max Err: 6.25e-02 | [View](..fptofp_case0013/analysis/timeline_ascii.txt) |
| fptofp_case0014 | FAIL | Max Err: 6.25e-02 | [View](..fptofp_case0014/analysis/timeline_ascii.txt) |
| fptofp_case0015 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0015/analysis/timeline_ascii.txt) |
| fptofp_case0016 | PASS | Max Err: 0.00e+00 | [View](..fptofp_case0016/analysis/timeline_ascii.txt) |